@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

a {
    cursor:pointer;
    /* color: var(--theme-foreground-focus); */
    text-decoration:none;
}

.line {
  position: relative;
  cursor: pointer;
}

.line:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
  transform-origin: bottom right;
}

.hover-line {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 3px;
  transition: text-decoration-color 0.4s ease-out;
  &:hover {
    text-decoration-color: var(--gray-7);
  }
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
    
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}